@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Azeret Mono";
}

nav>ul>li {
    display: inline;
}

nav>ul>li>a {
    text-decoration: none;
    color: #0D1321;

    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 130px;
}


#nav-btn {
    display: inline-flex;
    padding: 17px 24px;

    border-radius: 8px;
    border: 1px solid #0D1321;
    opacity: 0.8;
    color: #0D1321;
    text-align: center;

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* hero section */
#hero {
    /* height: 652px; */
    height: auto;
    width: auto;
    background-image: url("assets/Hero-bg.png");

}


#hero-div {

    text-align: center;

}

#hero-image {
    margin-top: 26px;
}

#hero-heading {
    color: #0D1321;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    margin-top: 32px;

}

.paragraph {
    color: rgba(13, 19, 33, 0.7);

}

#hero-paragraph {


    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

#hero-btn {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 50%;
    padding: 21px 24px;
    color: white;
    border-radius: 8px;
    background: #0D1321;
    margin-top: 32px;
    margin-bottom: 45px;
}

#card-section {
    padding: 80px 97px;
}

main {
    margin-left: 150px;
    margin-right: 150px;
}


#web-development {
    margin-top: 100px;
    background-color: rgba(13, 19, 33, 0.02);

    text-align: center;
    border-radius: 16px;

}

#web-development-inner-elements {
    padding: 80px 97px;
}

.section-heading {
    color: #0D1321;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.card-heading {
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.learn-more-btn {
    margin-top: 32px;
    padding: 12px 20px;


    border: 1px solid #0D1321;
    opacity: 0.7;
    color: #0D1321;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;


}

.cards {
    background: white;
    border-radius: 16px;

    width: 100%;


}

#card-1 {
    background: linear-gradient(-270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    margin-top: 32px;

}

#card-2 {
    background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    margin-top: 32px;


}

#card-1-elements {
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding: 48px;


}

#card-2-elements {
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding: 48px;
    background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);

}


/* inspiration section */
#video-section {
    text-align: center;
    margin-top: 100px;
}

#video-card {

    border: 1px solid rgba(13, 19, 33, 0.20);

    border-radius: 32px;
    margin-top: 60px;
    width: 100%;
    height: 930px;



}

#iframe {
    border-radius: 48px;
    padding: 32px;
    margin-top: 10px;
}



/* current target */
#current-cards-section {
    text-align: center;
    margin-top: 100px;
}

#current-target-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-top: 48px;
}

.current-target-card-1 {
    text-align: left;
    display: flex;
    width: 364px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);

}

.current-target-card-2 {
    text-align: left;
    display: flex;
    width: 364px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);

}

.current-target-card-3 {
    text-align: left;    
    display: flex;
    width: 364px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

#learn-more {
    color: #0D1321;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;

}

#support-section {
    background-image: linear-gradient(0deg, rgba(12, 12, 12, 0.308) 0%, rgba(0, 0, 0, 0.9)100%),
        url("assets/handshake.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 407px;
    text-align: center;
    margin-top: 100px;

    border-radius: 16px;


}

#support-section-elements {
    padding: 82px 62px;
    color: white;

    margin-top: 40px;


}

#input-field {
    margin-top: 40px;
    width: 548px;
    padding: 19px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

#submit-btn {

    width: 120px;
    padding: 17px 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    border-radius: 8px;
}

/* footer section */
#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 150px;
    background: rgba(13, 19, 33, 0.03);
    margin-top: 100px;

}
#footer-heading{
    
text-align: center;

font-size: 20px;
font-style: normal;
font-weight: 600;
}

